<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/form.css">

    <section class="add-new-player">
        <form id="post" action="/form" method="post" name="newPlayer">
                <fieldset>
                    <legend><span>1</span>Personal Information</legend>
                    <div>
                        <label for="name">Name</label>
                        <input type="text" name="name" placeholder="..." value="<%= locals.values?.name ?? '' %>" />
                    </div>

                    <div>
                        <label for="name">Gender</label>
                        <input type="text" name="gender" placeholder="..." />
                    </div>

                    <div>
                        <label for="name">Jersey Number</label>
                        <input type="number" min="1" max="100" name="jerseyNumber" placeholder="..." />
                    </div>

                    <div>
                        <label for="name">Team</label>
                        <input type="text" name="team" placeholder="..." />
                    </div>
                </fieldset>
                <fieldset>
                    <legend><span>2</span>Player Questions</legend>
                    <label>
                        Questions
                        <select name="question">
                            <option disabled selected>--- Select ---</option>
                            <% data5.questions.forEach(answer=> { %>
                                <option value="<%= answer.id %>">
                                    <%= answer.title %>
                                </option>
                                <% }) %>
                        </select>
                    </label>
                    <label>
                        Answer
                        <input type="text" name="content" value="<%= locals.values?.content ?? ''%>" />
                    </label>
                </fieldset>
            <button id="submit" type="submit" value="Submit">Submit</button>
        </form>
    </section>

    <%- include('./partials/foot.ejs') %>